#root,
.fill {
    width: 100%;
    height: 100%;
}

.fluid {
    width: 100%;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

.black-background {
    background-color: black;
    margin: 0 !important;
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.infinite-rotate {
    animation: rotate 5s infinite linear;
}

.max-300 {
    max-width: 300px !important;
}

.centered {
    margin: 20px auto !important;
}

body {
    background-color: #FAFAFA;
}
